:host {
  --main-font: 'Inter', sans-serif;
  --on-surface: hsla(210, 6%, 14%, 1);
  --on-surface-variant: hsla(204, 6%, 35%, 1);
  --outline-color: hsla(206, 8%, 58%, .2);
  --primary-color: hsla(207, 59%, 28%, 1);
  --background-color: #F4F4F5;
  --on-primary: hsla(0, 0%, 100%, 1);
  --scrim: hsla(0, 0%, 0%, 0.25);
  --other-bg: #fff;
}

.outer-wrap {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.inner-wrap {
  font-family: var(--main-font);
  background: var(--other-bg);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  padding: 32px 16px;
}

.donate-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: var(--background-color);
  border: 1px solid var(--outline-color);
  width: 100%;
  border-radius: 8px;
  padding: 16px;
}

.top-content {
  display: flex;
}

.top-content-text {
  font-size: 22px;
  font-weight: 500;
  color: var(--on-surface);
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-main-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label-text {
  font-size: 1rem;
  font-weight: 500;
  color: var(--on-surface-variant);
}

.input-container {
  border: 1px solid var(--outline-color);
  display: flex;
  border-radius: 8px;
  padding: 0 16px;
  gap: 16px;
}

.input-container:has(.amount-input:focus) {
  border: 2px solid var(--primary-color);
}

.currency-dropdown {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-right: 4px;
  border-right: 1px solid var(--outline-color);
}

.currency-container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.amount-input {
  background: none;
  border: none;
  width: 66.28%;
  padding: 18px 0;
  color: var(--on-surface);
  font-size: 1rem;
}

.amount-input:focus {
  outline: none;
}

.currency-code {
  font-size: 1rem;
  font-weight: 400;
  color: var(--on-surface-variant);
}

.donate-btn {
  width: 100%;
  padding: 16px;
  font-size: 1rem;
  color: var(--on-primary);
  border: none;
  background: var(--primary-color);
  border-radius: 50px;
  font-weight: 800;
}

.amount-to-donate {
  font-size: 1rem;
}

.pwered-by-box {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.powered-by-text {
  font-size: 14px;
  font-weight: 400;
  color: var(--on-surface-variant);
}

.country-currency-bottom-sheet {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: var(--scrim);
  display: none;
  align-items: end;
}

.bottom-sheet {
  background: var(--other-bg);
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
}

.bottom-sheet-top-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid var(--outline-color);
  padding: 16px;
}

.title-close-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-sheet-title {
  font-size: 22px;
  font-weight: 500;
  color: var(--on-surface);
}

.close-icon {
  background: var(--background-color);
  padding: 16px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-currencies-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow-y: auto;
  max-height: 200px;
}

.country-currency-item {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 12px 0;
}

.country-name {
  font-size: 1rem;
  color: var(--on-surface);
}

.country-currency-code {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .country-currency-bottom-sheet {
      align-items: center;
      justify-content: center;
  }

  .bottom-sheet {
      max-width: 360px;
      cursor: pointer;
  }

  .country-currency-item:hover {
      background: var(--background-color);
  }
}